body {
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  background-image: url(./page.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
}

/*---FONTS---*/
h1 {
  color: blue;
}

#body-container {
  width: 65vw;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.788);
}

#header {
  background-color: white;
  padding: 40px 20px;
  font-family: serif;
}

#header-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: gray solid 1px;
  border-bottom: gray solid 1px;
}

#header-container div:last-of-type {
  display: flex;
  align-items: center;
}

form {
  margin: 25px 25px 40px 25px;
}

form h3 {
  font-family: serif;
  text-align: center;
}

form label {
  font-size: 18px;
}

#firma-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 45px;
}

#firma-container input {
  border: none;
  border-bottom: black solid 1px;
  width: 40%;
  background: none;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  font-family: serif;
}

@media only screen and (max-device-width: 576px) {
  #body-container {
    width: 80vw;
  }
}

@media only screen and (max-device-width: 480px) {
  #body-container {
    width: 100vw;
  }
  form label {
    font-size: 14px;
  }
}

@media only screen and (max-device-width: 230px) {
  img {
    display: none;
  }
  footer {
    padding: 0;
  }
}
